$berry: #e45153;
$blue: #253a81;
$light-orange: #ec833d;
$orange: #e97044;
$purple: #553287;
$yellow: #eac522;

$core-gradient: linear-gradient(90deg, $orange 0%, $light-orange 100%);
$primary-gradient: linear-gradient(90deg, $berry 0%, $light-orange 100%);
