a:active {  font-family: verdana, Helvetica, sans-serif; font-size: 9px; color: #b9b9b9; text-decoration: none}
a:hover {  font-family: verdana, Helvetica, sans-serif; font-size: 9px; color: #aaaaaa; text-decoration: none}
a:link {  font-family: verdana, Helvetica, sans-serif; font-size: 9px; color: #aaaaaa; text-decoration: none}
a:visited {  font-family: verdana, Helvetica, sans-serif; font-size: 9px; color: #aaaaaa; text-decoration: none}
