.svg-C {
	background: url("svg/sprite.css-c728f79f.svg") 50.714285714285715% 93.85964912280701% no-repeat;
}

.svg-C-dims {
	width: 13px;
	height: 22px;
}

.svg-D {
	background: url("svg/sprite.css-c728f79f.svg") 59.15492957746479% 90.67796610169492% no-repeat;
}

.svg-D-dims {
	width: 11px;
	height: 18px;
}

.svg-O {
	background: url("svg/sprite.css-c728f79f.svg") 95.07042253521126% 46.4% no-repeat;
}

.svg-O-dims {
	width: 11px;
	height: 11px;
}

.svg-arrow {
	background: url("svg/sprite.css-c728f79f.svg") 57.04225352112676% 64.70588235294117% no-repeat;
}

.svg-arrow-dims {
	width: 11px;
	height: 17px;
}

.svg-arrow2 {
	background: url("svg/sprite.css-c728f79f.svg") 86.86131386861314% 46.774193548387096% no-repeat;
}

.svg-arrow2-dims {
	width: 16px;
	height: 12px;
}

.svg-atom {
	background: url("svg/sprite.css-c728f79f.svg") 41.28440366972477% 31.3953488372093% no-repeat;
}

.svg-atom-dims {
	width: 44px;
	height: 50px;
}

.svg-bigspark {
	background: url("svg/sprite.css-c728f79f.svg") 96.7479674796748% 25.714285714285715% no-repeat;
}

.svg-bigspark-dims {
	width: 30px;
	height: 31px;
}

.svg-book {
	background: url("svg/sprite.css-c728f79f.svg") 72.35772357723577% 29.347826086956523% no-repeat;
}

.svg-book-dims {
	width: 30px;
	height: 44px;
}

.svg-cloud {
	background: url("svg/sprite.css-c728f79f.svg") 48.38709677419355% 1.8018018018018018% no-repeat;
}

.svg-cloud-dims {
	width: 60px;
	height: 25px;
}

.svg-dashedline {
	background: url("svg/sprite.css-c728f79f.svg") 100% 0 no-repeat;
}

.svg-dashedline-dims {
	width: 108px;
	height: 2px;
}

.svg-dot {
	background: url("svg/sprite.css-c728f79f.svg") 76.22377622377623% 61.111111111111114% no-repeat;
}

.svg-dot-dims {
	width: 10px;
	height: 10px;
}

.svg-firework {
	background: url("svg/sprite.css-c728f79f.svg") 35.43307086614173% 97.27272727272727% no-repeat;
}

.svg-firework-dims {
	width: 26px;
	height: 26px;
}

.svg-hexagon {
	background: url("svg/sprite.css-c728f79f.svg") 67.6470588235294% 63.63636363636363% no-repeat;
}

.svg-hexagon-dims {
	width: 17px;
	height: 15px;
}

.svg-lazys {
	background: url("svg/sprite.css-c728f79f.svg") 41.46341463414634% 64.70588235294117% no-repeat;
}

.svg-lazys-dims {
	width: 30px;
	height: 17px;
}

.svg-rocketship {
	background: url("svg/sprite.css-c728f79f.svg") 0 0 no-repeat;
}

.svg-rocketship-dims {
	width: 45px;
	height: 136px;
}

.svg-squiggle {
	background: url("svg/sprite.css-c728f79f.svg") 30.612244897959183% 72.64150943396227% no-repeat;
}

.svg-squiggle-dims {
	width: 6px;
	height: 30px;
}

.svg-star {
	background: url("svg/sprite.css-c728f79f.svg") 83.21678321678321% 61.111111111111114% no-repeat;
}

.svg-star-dims {
	width: 10px;
	height: 10px;
}

.svg-star2 {
	background: url("svg/sprite.css-c728f79f.svg") 100% 44.96124031007752% no-repeat;
}

.svg-star2-dims {
	width: 7px;
	height: 7px;
}

.svg-sunburst {
	background: url("svg/sprite.css-c728f79f.svg") 96.3302752293578% 1.7699115044247788% no-repeat;
}

.svg-sunburst-dims {
	width: 44px;
	height: 23px;
}

