.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #393422;
	text-transform: lowercase;
	text-decoration: none;
}
.dateline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	text-transform: lowercase;
	color: #ffffff;
}
.bodycopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: lowercase;
	color: #333333;
}
.listall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #373724;
	text-decoration: none;
	text-transform: lowercase;

}
